{% extends 'base.html.twig' %}
{% block body %}

<h1></h1>
<p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt, distinctio dolorum eligendi eveniet exercitationem explicabo fugit harum laudantium necessitatibus nostrum numquam perspiciatis placeat provident quidem quisquam quo tempora ut!</span>
</p>

{% endblock %}