{% extends 'base.html.twig' %}
{% block body %}

<h1></h1>
<p>
    <span>Bienvenue dans la page d'accueil de l'application de gestion des contacts</span>
</p>
    <section class="registration">
        <p>Pour vous enregistrer veuillez cliquer sur ce  <a href="{{ path('security_registration') }}">lien</a></p>
    </section>

{% endblock %}